build
/Doom3.exe
/Doom3.ilk
/Doom3.pdb
/DedServer.exe
/DedServer.ilk
/DedServer.pdb
/base/gamex86.dll
/base/gamex86.ilk
/base/gamex86.exp
/base/gamex86.lib
/base/gamex86.pdb
/base/gamex64.dll
/base/gamex64.ilk
/base/gamex64.exp
/base/gamex64.lib
/base/libgamex64.dll.a
/base/gamex64.pdb
/d3xp/gamex86.dll
/d3xp/gamex86.ilk
/d3xp/gamex86.exp
/d3xp/gamex86.lib
/d3xp/gamex86.pdb
/d3xp/gamex64.dll
/d3xp/gamex64.ilk
/d3xp/gamex64.exp
/d3xp/gamex64.lib
/d3xp/libgamex64.dll.a
/d3xp/gamex64.pdb
/base/*.pk4
